aiohttp>=3
basemap>=1
beautifulsoup4>=4
bitarray>=2
bitsets
Bottleneck>=1
concepts
coverage>=6
csv23
current
Cython
dmengine
features
flake8
Flask>=2
#gmpy2
google-api-python-client
google-auth-oauthlib
graphviz
gsheets
html5lib
httplib2
intbitset
ipykernel
ipython>=8
Jinja2
jupyterlab
latexcodec
latexpages
lxml
matplotlib>=3
mock>=4
notebook>=6
numexpr>=2
numpy>=1
openpyxl
oset
pandas>=1.5
pandas-gbq
pep8-naming
Pillow
psutil
psycopg[binary]>=3
psycopg-pool
psycopg2
psycopg2-binary
pybtex
pycountry
Pygments
pyparsing
PyQt5
pytest>=7,!=8.1.1
pytest-cov
pytest-mock>=3
pytest-xdist
pytz
pywin32
PyYAML
qtconsole>=5
rdflib
regex
reportlab
requests>=2
requests-toolbelt
ruamel.yaml
scandir
scikit-learn
scipy
simplejson
SPARQLWrapper>=2
Sphinx>=5
sphinx-rtd-theme
sphinx_autodoc_typehints
SQLAlchemy>=1.4
statsmodels
tornado
tox>=3
treedb
twine
uritemplate
urllib3
virtualenv
wheel
