# default Python environment
aiohttp>=3
basemap>=1
beautifulsoup4>=4
bitarray>=3
bitsets
Bottleneck>=1
build>=1
concepts
coverage>=7
csv23
current
Cython
dmengine
features
flake8>=7
Flake8-pyproject
Flask>=3
gmpy2
google-api-python-client
google-auth-oauthlib
graphviz
gsheets
html5lib>=1
httplib2
intbitset
ipykernel
ipython>=9
Jinja2
jupyterlab
latexcodec
latexpages
lxml>=5
matplotlib>=3
mock>=5
mypy
notebook>=7
numexpr>=2
numpy>=2
openpyxl
oset
pandas>=2
pandas-gbq
pep8-naming
pillow
psutil
psycopg[binary,pool]>=3
psycopg2-binary
pybtex
pycountry
Pygments
pyparsing
PyQt5
pytest>=8
pytest-cov
pytest-mock>=3
pytest-xdist
pytz
pywin32
PyYAML>=6
qtconsole>=5
rdflib>=7
regex
reportlab
requests>=2
requests-toolbelt
ruamel.yaml
scandir
scikit-learn
scipy
simplejson
SPARQLWrapper>=2
Sphinx>=8
sphinx-autodoc-typehints
sphinx-rtd-theme>=3
SQLAlchemy>=2
statsmodels
tornado
tox>=4
tqdm
treedb>=2
twine>=6
uritemplate
urllib3>=2
virtualenv
wheel
